<!-- INCLUDE overall_header.html -->
    <style>
      h3,h4,h5 { margin:0; }
      .topiclist div.header a { top: -8px; cursor:pointer; }
      .header a.cat:hover { text-decoration: underline;  cursor: pointer; }
      .forabg .right { float:right; }
      .forabg li { border-bottom: 2px solid #fff; margin: 0.3em .7em; list-style: none; }
      .topiclist .contenu { margin:1em 0;}
      .topiclist .contenu .blockquote { margin-right:25px; }
      .package_array { margin-left:5em; }
      blockquote cite { font-size:1.1em; }
      .search_result { padding:0.3em; clear:both; line-height: 2em;}
      .search_result a.cat { font-weight: 700; }
      .search_result:hover { background-color:rgba(100,100,100,0.2); }
      .search_result .tag { 
          line-height: 1.5em;
          border-radius: 10%;
          display:none; margin:0 0.5em; padding:0 0.3em; 
          background-color:rgb(255, 170, 102); color:#000; 
      }
      .search_result:hover .tag { display:inline-block; }
      b.version {
        font-weight: 300;
        margin-left:2em;
      }
      #page-body form input { text-transform: lowercase; }
    </style>
<!--script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script-->

<h4 style="text-align: center;">Paquets Manjaro</h4>
<table width="95%">
    <tr>
        <td width=50%>
            <form method="POST" id="f_search">
              <input id="v" type="hidden" name="v" value="5" />
              <input id="type" type="hidden" name="type" value="search" />
              <label for="qtype">Search</label>
              <br /><br />
              <label for="arg">Text:</label>
              <input id="arg" type="text" name="arg" value="{ARG}" placeholder="nom/description" minlength="3" pattern="[a-z0-9_-]{3,}" required="required" onkeyup="this.value=this.value.toLowerCase();"/>
              <br /><br />
              <input id="go" type="submit" name="go"/>
            </form>
      </td>
      <td align="right">
          <form method="POST" id="f_status">
              <input id="type" type="hidden" name="type" value="status" />
              <select name="argstatus" id="argstatus">
                <option value="2">Nouveaux</option>
                <option value="-1">Supprimés</option>
              </select>
              <input id="gostatus" type="submit" />
          </form>
      </td>
    </tr>
</table>
<hr />
<form method="POST" id="f_info">
    <input id="v" type="hidden" name="v" value="5" />
    <input id="type" type="hidden" name="type" value="info" />
    <label for="qtypei">Information</label>
    <br /><br />
    <label for="arginfo">Package:</label>
    <input id="arginfo" type="text" name="arginfo" value="" required="required" minlength="3" pattern="[a-z0-9_-]{3,}" placeholder="nom du paquet" onkeyup="this.value=this.value.toLowerCase();"/>
    <br /><br />
    <input id="goinfo" type="submit" name="goinfo" />
</form>
<hr />  
<div id="response">&nbsp;</div>

<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html --> 

<script type="text/javascript" charset="utf-8">

var aurResponse = {
    name:"Name", 
    version:"Version", 
    desc:"Description", 
    base:"Base", 
    depends:"Dependences",
    filename:'Filename',
    csize:'package size',
    isize:"local package",
    url:"web", 
    builddate:"build Date",
    repo:"Repo", 
    status:"Status", 
    optdepends:"optional Dependences",
    makedepends: "Dependences for make",
    provides:"provide",
    conflicts:"Conflicts with",
    replaces:"Replace",
    packager:"Maintener",
    files:"Files",
    PKGBUILD:"PKGBUILD",
    git:"Git"
};

if (window.navigator.language.substr(0,2) == "fr") {
    var aurResponse = {
        name:"Nom", 
        version:"Version", 
        desc:"Description", 
        base:"Base", 
        depends:"Dépendances",
        filename:'Fichier',
        csize:'Taille du paquet',
        isize:"Taille installé",
        url:"Lien web", 
        builddate:"Date de construction",
        repo:"Dépôt", 
        status:"Statut", 
        optdepends:"Dépendances optionelles",
        makedepends: "Dépendances pour création",
        provides:"Fournit",
        conflicts:"En conflit avec",
        replaces:"Remplace",
        packager:"Mainteneur",
        files:"Fichiers",
        PKGBUILD:"PKGBUILD",
        git:"Git"
    };
}

//var rpcurl = "http://aur.archlinux.org/rpc.php?callback=";
//var rpcurl = "https://aur.archlinux.org/rpc/?v=5&callback=";
var rpcurl = "./rpc.php?callback=?";
//var rpcurl = "http://fr.manjaro.eu/pacman/rpc.php?callback=?";

$(document).ready(function() {
  $('#arg').focus();

  function parseInfo(json){
    if (dr.length != null && dt == 'info') {
    }
  }

  function statusToIcon(status){
    var o =status;
    var t ='';
    switch (status) {
      case 'Supprimé':
        t ='trash-o';
        break;
      case 'non modifié':
        t ='';
        break;
      case 'Modifié':
        t ='pencil-square-o';
        break;
      case 'Ajouté':
        t ='plus';
    }
    if (t != ''){
        return '<i class="icon fa-'+t+' fa-fw" aria-hidden="true" style="color:#fff" title="'+status+'"></i>';
    }
    return '';
  }

  function getDetail(response) {
    $("#c-"+response).html('Consultation...');
    $.getJSON(rpcurl, 
      {"type": "info", "arg":$("#arginfo").val().toLowerCase()},
      function(data) {
        var output = "<br />";
        var dr = data['results'];
        var dt = data['type'];
        console.log(data)
        if (dr.length != null && dt == 'info') {
          for (var i=0; i<dr.length; i++) {
            output += '<div id="dd-' + dr[i].name + '" class="aur_package_info">'
            output += '<blockquote>' + dr[i].desc + '</blockquote><hr />'
            for (var elem in dr[i]) {
              field = dr[i][elem]
              if ( (elem == 'LastModified') || (elem == 'FirstSubmitted') ) {
                d = new Date(field*1000);
                field = d.toLocaleString('fr-FR', { timeZone: 'UTC' })
              }
              if ( (field != null) && (field !='') )
                output += '. ' + aurResponse[elem] + ': <b>' + field + '</b><br />\n';
            }
            output += '\n';
          }
          output +='</div>'
        }
        else if (dt == 'error') {
          output += 'Erreur: ' + dr;
        }
        else {
          output += 'No result!';
        }
        $("#c-"+response).html(output);
      });
    return false;
  }; 

  $( "#f_search" ).submit(function( event ) {
    $("#response").html('Consultation...');
    $.getJSON(rpcurl, 
      {"type": "search", "arg":$("#arg").val().toLowerCase()},
      function(data) {
        var output = "";
        var dr = data['results'];
        var dt = data['type'];
        console.log(data)
        if (dr.length != null && dt == 'search') {
          var nb = data['resultcount'];
          output += '\
            <div class="forabg" id="00" class="aur_package"> \
              <div class="topiclist"><div class="header"> \
                <strong class="right">'+nb+' &nbsp;</strong> \
              <a class="cat" data-id="0">&nbsp; Résultats</a> \
              </div></div>';
          for (var i=0; i<dr.length; i++) {
            output += '\
            <li class="search_result" title="' + dr[i].desc + '"> \
              <a class="cat" data-id="' + dr[i].name + '"><i class="icon fa-info-circle fa-fw" aria-hidden="true" style="color:rgb(255, 170, 102)"></i>' +dr[i].name+ '</a>';
            output += '<b class="version">'+dr[i].version +'</b> <!--i>' + dr[i].desc + '</i><br /-->';
            
            field = dr[i].builddate
            d = new Date(field);
            output += '<i class="right">' +statusToIcon(dr[i].status)+ ' &nbsp; ' + d.toLocaleString('fr-FR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) + '</i> ';
            output += '<span class="right" title="for test"><span class="tag t_gtk">gtk</span><span class="tag t_gtk3">gtk3</span></span>';
            output += '<div class="contenu" id="c-' + dr[i].name + '" title="">';
            output += '</div></li>\n';
          }
          output += '<br /></div></div>\n';
          output +=''
        }   
        else if (dt == 'error') {
          output += 'Error: ' + dr;
        }
        else {
          output += 'No result!';
        }
        $("#response").html(output);
        $(".cat").click(function(event) {
            $("#arginfo").val( $(this).data('id') );
            getDetail ( $(this).data('id') );
            event.stopPropagation();
        }); 
      });
    return false;
  });
  
  $("#gostatus").click(function() {
    $("#response").html('Consultation...');
    $.getJSON(rpcurl, 
      {"type": "search", "by": "status", "arg":$("#argstatus").val().toLowerCase()},
      function(data) {
        var output = "";
        var dr = data['results'];
        var dt = data['type'];
        console.log(data)
        if (dr.length != null && dt == 'search') {
          var nb = data['resultcount'];
          if (nb >5) output += '' + nb + ' résultats';
          for (var i=0; i<dr.length; i++) {
            output += '\
            <div class="forabg" id="' + dr[i].name + '" class="aur_package"> \
              <div class="topiclist"><div class="header"> \
                <strong class="right">'+dr[i].version+'</strong> \
              <a class="cat" data-id="' + dr[i].name + '"> &nbsp; ' + dr[i].name + '</a> \
              </div></div><div class="contenu" id="c-' + dr[i].name + '">';
            output += '<i>' + dr[i].desc + '</i><br />';
            field = dr[i].builddate
            d = new Date(field);
            output += '<i class="right">' +statusToIcon(dr[i].status)+ ' &nbsp; ' + d.toLocaleString('fr-FR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) + '</i> '
            output += '<br /></div></div>\n';
          }
          output +=''
        }   
        else if (dt == 'error') {
          output += 'Error: ' + dr;
        }
        else {
          output += 'No result!';
        }
        $("#response").html(output);
        $(".cat").click(function(event) {
            $("#arginfo").val( $(this).data('id') );
            getDetail ( $(this).data('id') );
            event.stopPropagation();
        }); 
      });
    return false;
  });

  function getInfoPackage(responseId){
    $.getJSON(rpcurl, 
      {"type": "info", "arg":$("#arginfo").val().toLowerCase()},
      function(data) {
        var output = "<br />";
        var dr = data['results'];
        var dt = data['type'];
        console.log(data)
        if (data['resultcount']==0) {
          alert(404);
          return 404;
        }
        if (dr.length != null && dt == 'info') {
          for (var i=0; i<dr.length; i++) {
            //output += '<li>Package: <br>\n';
              output += '\
            <div class="forabg" id="' + dr[i].name + '" class="aur_package"> \
              <div class="topiclist"><div class="header"> \
                <strong class="right">'+dr[i].version+'</strong> \
              <a class="cat" data-id="' + dr[i].name + '"> &nbsp; ' + dr[i].name + '</a> \
              </div></div><div class="contenu" id="c-' + dr[i].name + '">';
            output += '<blockquote><cite>' + dr[i].desc + '</cite></blockquote><hr />';
            for (var elem in dr[i]) {
              field = dr[i][elem];
              if ( (elem == 'files') ) {
                field = '<div class="codebox"><code>'+field+'</code></div>';
              }
              if ( (elem == 'LastModified') || (elem == 'FirstSubmitted') ) {
                d = new Date(field*1000);
                field = d.toLocaleString('fr-FR', { timeZone: 'UTC' })
              }
              if (field != null)
                output += '<li> ' + aurResponse[elem] + ': <b>' + field + '</b></li>\n';
            }
            output += '<br />\n';
          }
          output +='</div></div>'
        }
        else if (dt == 'error') {
          output += 'Erreur: ' + dr;
        }
        else {
          output += 'No result!';

        }
        $("#"+responseId).html(output);
      });
  }

  $( "#f_info" ).submit(function( event ) {
    $("#response").html('Consultation...');
    getInfoPackage('response');
    return false;
  });  

  {% if PACKAGE %}
    //alert( '{{ PACKAGE }}' );
    $("#arginfo").val( '{{ PACKAGE }}' );
    getInfoPackage('response');
  {% endif %}

});
</script>
