<!-- INCLUDE overall_header.html -->

<style>
    form { margin-bottom:2em; }
</style>

<h2>{{ TOP_TITLE }} administration {{ SUB_TITLE }}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<div class="content">
        {% if ACTU %}
        <blockquote>{{ ACTU }}</blockquote>
        {% endif %}
	</div>
	<hr />
    <form method="GET" action="">
        <label>Mise à jour de toute la Base de données</label>
        <input name="action" value="download" type="hidden" />
        <input name="lastfile" value="" type="hidden" />
        <input id="go" type="submit"/>
	</form>    

	<span class="corners-bottom"><span id="response"></span></span></div>
</div>


<!-- INCLUDE overall_footer.html --> 

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

var lastfile='';
var action='download';

function sendA(){
    $.ajax({
        method: "GET",
        url: "setSqlAjax.php?callback=?",
        data: { 'lastfile': lastfile , 'action': action },
        timeout: 210000
    })
    .fail(function(jqXHR, textStatus) {
        console.log("erreur ajax! "+textStatus);
        alert( "erreur ajax ! " );
    })
    .done(function( data ) {
        console.log(data);
        lastfile=''+data.lastfile;
        action=''+data.action;
        $("#response").html( $("#response").html()+'<br />'+data.msg);
        if (data.error!=0){
            $("#response").html( $("#response").html()+'<br /><b>'+data.error+'</b>');
            //$("#response").html( $("#response").html()+'<br /><i>'+data.output+'</i><br />');
            return;
        }
        //if (data.output!=''){
        //    $("#response").html( $("#response").html()+'<br /><i>'+data.output+'</i><br />');
        //}
        if (action!='') {
            sendA();
        }
        if (action==''){
            $("#response").html( $("#response").html()+'<br /><h4>END - maj conplète</4>');
        }        
    });
}

$("#go").click(function(event) {
    $("#response").html('...');
    sendA();
    event.stopPropagation();
    return false;
});    

});
</script>

